@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --emerald: #99f6e4;
  --lemon: #d9f99d;
  --pink: #f472b6;
  --rose: #f99dab;
  --yellow: #fcd34d;
  --sand: rgba(249, 237, 189, 0.6);
  --gray-dark: #111827;
}

html {
  --line-color: #e5e7eb;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}

/* Selection styling */
::selection {
  background: var(--emerald);
}
::-moz-selection {
  background: var(--emerald);
}
html.dark ::selection {
  color: var(--gray-dark);
}
html.dark ::-moz-selection {
  color: var(--gray-dark);
}

/* Text highlight styling */
.textHighlight {
  background-color: var(--lemon);
  color: var(--rose);
  padding: 0.1rem 0.15rem 0.2rem 0.15rem;
  font-weight: 500;
}
.dark .textHighlight {
  background-color: var(--pink);
  color: var(--lemon);
}

/* Selection styling for text highlight */
.textHighlight::selection {
  background: var(--sand);
}

.textHighlight::-moz-selection {
  background: var(--sand);
}

.dark .textHighlight::selection {
  background: var(--pink);
  color: var(--lemon);
}

.dark .textHighlight::-moz-selection {
  background: var(--pink);
  color: var(--lemon);
}

/* Other */
.borderBlack {
  @apply border border-black/10;
}

.codeSnippetDarkMode {
  font-weight: 500;
  color: var(--yellow);
}